.content {
  padding: 15px 0;
  margin: 0 15px;
  overflow: hidden;
  font-size: 15px;
  border-bottom: 1px dashed #eaeaea;
}

.time {
  margin: 10px 15px 0 15px;

  .item {
    margin-top: 10px;
    .label {
      margin-right: 8px;
      margin-bottom: 5px;
    }
  }
}
