.layout {
  height: 100%;
}

.header {
  color: #555;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;

  .message {
    font-size: 20px;
    cursor: pointer;
  }
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.content {
  height: calc(100% - 60px);
  padding: 30px 20px 40px;
  background: #f0f2f5;
}

.cardItem {
  padding: 8px 0;
  border-bottom: 1px solid #efefef;
  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.pop {
  :global {
    .ant-popover-content {
      width: 200px;
    }
  }
}
