main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .bars {
    display: flex;
    flex-direction: column;

    .rate,
    .finish,
    .expired {
      margin: 0 0 15px;
      width: 300px;
      height: auto;
      min-height: auto;
    }

    .title {
    }
    .innterTitle {
      margin-left: 5px;
    }
  }
}
