.list {
  width: 80%;
  display: inline-flex;
  flex-wrap: wrap;
  height: fit-content;
}

.add {
  width: 300px;
  height: 250px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}
